<!DOCTYPE html>
<html>
  <head>
    <title>DindingKreatif</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/navigation' %>
  <% flash.each do |name, msg| %>
      <ul>
      <li><%= msg %></li>
      </ul>
  <% end %>
  <div class="article-meta-details">
      <%# untuk mengecek apakah user sudah login atau belum %>
        <% if current_user %>
        Hi <%= current_user.name %>
        |
        <%= link_to 'logout', method: :destroy %>
      <% else %>
        <%= link_to 'login', login_path %>
        |
        <%= link_to 'signup'%>
      <% end %>
    </header>
    <%= yield %>
  </div>
  </body>
</html>
